<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Confirmation d'inscription</title>
<link href="styles.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">

<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" width="600">
			<div class="content">
				<table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction">
					<tr>
						<td class="content-wrap">
							<meta itemprop="name" content="Confirm Email"/>
							<table width="100%" cellpadding="0" cellspacing="0">
								<tr>
									<td class="content-block">
										<h2 class="aligncenter">Bienvenue {{user.firstname}}</h2>
									</td>
								</tr>
								<tr>
									<td class="content-block">
										Pour finaliser votre inscription, vous devez cliquer sur le bouton ci-dessous.
									</td>
								</tr>
								<tr>
									<td class="content-block">
										Nous avons besoin de savoir que cette addresse email est bien la votre pour vous envoyer des informations relatives à votre compte.
									</br>
										Si vous n'êtes pas à l'orginie de cette action, veuillez ignorer cet email.
									</td>
								</tr>
								<tr>
									<td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
										<a href="{{user.getConfirmUrl()}}" class="btn-primary" itemprop="url">Confirmer mon inscription</a>
									</td>
								</tr>
								<tr>
									<td class="content-block">
										&mdash; L'équipe
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
				<div class="footer">
					<table width="100%">
						<tr>
							<td class="aligncenter content-block">Suivez-nous <a href="http://twitter.com/mail_gun">@Mail_Gun</a> sur Twitter.</td>
						</tr>
					</table>
				</div></div>
		</td>
		<td></td>
	</tr>
</table>

</body>
</html>
